.footer{
    margin-top: 160px;
    color: white;
    padding-top: 90px ;
}
.footer2{
    margin-top: 0px;
    color: white;
    padding-top: 0px;
}
.main-footer{
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    background-color: #18185e;
}
.main-footer2{
    padding-top: 30px;
    background-color: #18185e;
}
.top-section{
    width:86%;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: -90px;
}
.image-foot{
    width: 260px;
    position: absolute;
    left: 6.5%;
    top:-65px;
}
.designe-1{
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 45px;
}
.up-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    padding: 30px 10px;
}
.up-section h2{
    width: 270px;
    margin-left: 25%;
}
.pic3{
    width: 120px;
}
.foot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-btn button{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 10px;
    padding: 8px;
    background-color: white;
    border-radius: 15px;
    border: none;
    font-size: 10px;
}
.section{
    width: 86%;
    background-color:#384bff ;
    margin: auto;
    padding: 37px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.circ-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border: 1px solid white;
    background-color: white;
    width: 40px;
    color:#384bff;
    height: 40px;
    padding: 9px 9px 0px 9px;
    border-radius: 50%;
    font-size: 19px;
}
.txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 5px;
}
.txt span{
    font-size: 11px;
}
.txt p{
    font-size: 14px;
    font-weight: 500;
}
.info-and-links{
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap:15px;
}
.log img{
    width: 120px;
    margin-bottom: 10px;
}
.col-1 p{
    font-size: 15px;
    width: 246px;
    margin-bottom: 10px;
}
.father-icon{
    display: flex;
    justify-content:start;
    align-items: center;
}
.social-icon{
    border:1px solid white;
    width: 30px;
    padding: 3px 0px 0px 4px;
    margin-left: 3px;
}
.social-icon a{
    font-size: 18px;
    color: white;
}
.col-two{
    display: flex; 
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.sub{
    border-bottom: 1px solid white;
    width: max-content;
    padding-bottom: 4px;
}
.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}
.post{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.post-image img{
    width: 60px;
}
.post-text{
    margin-left: 8px;
}
.post-text span{
    font-size: 11px;
}
.post-text p{
    font-size: 13px;
}
.text{
    width: 220px;
}
.mail{
    margin-right: 5px;
}
.feild{
    width: max-content;
    background-color: white;
    padding: 5px;
    border-radius: 5px ;
}
.feild input{
    border:none;
    font-size: 12px;
}
.feild button{
    padding: 2px 7px 0px 7px;
    margin-right: 8px;
    font-size:12px ;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 3px;
}
.check{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}
.check p{
    font-size: 12px;
}
.check p span{
    text-decoration: underline;
}
 @media (max-width:1292px){
    .pic3{
        display: none;
    }
    .up-section{
        padding: 50px 10px;
    }
}
@media (max-width:1170px){
        .up-section {
            display: flex;
            justify-content:end;
            align-items: center;
        
    }
    .up-section h2{
        width: 270px;
        font-size: 20px;
        margin-left: 30%;
    }
    .image-foot{
        width: 250px;
        position: absolute;
        left: 6.5%;
        top:-66px;
    }

}
@media (max-width:992px){
    .up-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}
@media (max-width:900px){
     .image-foot , .designe-1{
        display: none;
    }
     .up-section{
        padding: 30px 10px;
     }
}
} 
@media(max-width:808px){
    .section{
        justify-content: start;
    }
    
}

@media (max-width:400px){
    .info-and-links{
        justify-content: start;
        flex-direction: column;
        
    }
}